@import "src/styles/Mixins";

.catalogPageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f7;

  .navigationBlock {
    width: 80%;
  }

  .title {
    width: 80%;
    @include flex(row, space-between, center);

    .select {
      display: flex;
      flex-direction: row;
    }
  }

  .mainBlock {
    width: 80%;
    display: flex;
    flex-direction: row;

    .sortingBlock {
      display: flex;
      flex-direction: column;
    }

    .productsBlockContainer {
      padding: 0 30px;

      .productsBlock {
        @include flex(row, space-between, center);
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }
}
