@import "src/styles/Mixins";

.catalogPageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f7;
  padding-bottom: 57px;

  .navigationBlock {
    width: 80%;
    max-width: 1200px;
  }
  .navigationBlockWrapper{
    padding-top: 16px;
    display: flex;
    align-items: center;
    & img{
      margin: 0 14px 0 15px;
    }
  }
  .title {
    width: 80%;
    max-width: 1200px;
    @include flex(row, space-between, center);
    margin-bottom: 40px;
    & h1 {
      @include SFDisplayBold();
      font-size: 42px;
      line-height: 44px;
      color: #202223;
    }

    .select {
      display: flex;
      flex-direction: row;
      align-items: center;
      & select{
        @include size(268px, 36px);
        background-color: #FFFFFF;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #BABFC3;
        border-radius: 4px;
        color: #202223;
        appearance: none;
        background-image: url("../../Images/downArrow.svg");
        background-repeat: no-repeat;
        background-position: right .7em top 50%, 0 0;
        padding: 8px 8px 8px 12px;
        outline: none;
        @include SFTextRegular();
        font-size: 14px;
        line-height: 20px;
      }
      & p {
        @include SFTextMedium();
        font-size: 14px;
        line-height: 20px;
        margin-right: 9px;
      }
    }
  }

  .mainBlock {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;

    .sortingBlock {
      display: flex;
      flex-direction: column;
    }

    .productsBlockContainer {
      padding: 0 0 0 30px;

      .productsBlock {
        @include flex(row, space-between, center);
        box-sizing: border-box;
        width: 100%;
        flex-wrap: wrap;
      }
    }
  }
}
.productsType{
  width: 270px;
}
