@import "../../../styles/Mixins";

.logoBlock{
  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    @include size(20.5px, 24px);
    margin-right: 9.5px;
  }

  & p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}