@import "src/styles/Mixins";
@import "src/styles/Variables";

.callback{
  color: $mainColor;
  cursor: pointer;
  font-family: 'SF Pro Text';
  @include SFTextRegular();
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2C6ECB;
}