@import "src/styles/Mixins";

.subtypeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include SFTextRegular();
  @include fontSize14();

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    & p {
      @include SFTextRegular();
      @include fontSize14();
    }

    & input {
      display: none;
    }

    & div span {
      min-width: 18px;
      min-height: 18px;
      border: 2px solid #8C9196;
      border-radius: 4px;
      display: inline-block;
      position: relative;
      background: #FFFFFF;
      margin-right: 9px;
      cursor: pointer;
    }

    [type=checkbox]:checked + div span:before {
      @include size(20px, 20px);
      content: url("../../../../Images/check.svg");
      position: absolute;
      top: -3px;
      left: -3px;
    }

  }

  .discount {
    @include SFTextRegular();
    font-size: 15px;
    line-height: 20px;
    color: $discountColor;
  }
}