@import "src/styles/Mixins";

.navBar{
  width: 302px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  & a.activeLink{

    font-size: 14px;
    line-height: 20px;
    color: #80CFD5;
  }
  & a {
    @include SFTextMedium();
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
  & a:hover{
    text-decoration-line: underline;
  }
  .scroll{
    scroll-behavior: smooth;

  }
}
@media (max-width: 992px) {
  .navBar{
    gap: 18px;
  }
}
@media (max-width: 768px) {
.navBar{
  display: none;
}
}