@import "src/styles/Mixins";

.navBar{
  width: 302px;
  display: flex;
  justify-content: space-between;
  & a.activeLink{

    font-size: 14px;
    line-height: 20px;
    color: #80CFD5;
  }
  & a {
    @include SFTextMedium();
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
  & a:hover{
    text-decoration-line: underline;
  }
}