@import "src/styles/Mixins";
@import "src/styles/fonts";

.animalType {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  @include size(214px, 84px);
  background-color: white;
  margin: 24px 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  & span {
    @include SFDisplaySemibold();
    font-size: 16px;
    line-height: 24px;
    color: #202223;

  }
  & img{
    @include size(85px, 85px);
  }
}
.animalType:hover{
  & span{
    @include SFDisplaySemibold();
    font-size: 16px;
    line-height: 24px;
    color: #00A0AC;
  }
  &:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06), 0 12px 32px rgba(0, 0, 0, 0.1);
  }
}
.active{
  border: 2px solid #008060;
}
.restTypes{
  opacity: 0.6;
}