@import "src/styles/Mixins";
@import "src/styles/fonts";

.animalType {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include size(214px, 84px);
  background-color: white;
  margin: 24px 0;
  border-radius: 5px;
  cursor: pointer;
  & span {
    @include SFDisplaySemibold();
    font-size: 16px;
    line-height: 24px;
    color: #202223;

  }
  & img{
    @include size(85px, 85px);
    margin-right: 16px;
  }
}
.animalType:hover{
  & span{
    @include SFDisplaySemibold();
    font-size: 16px;
    line-height: 24px;
    color: #00A0AC;
  }
}