@import "src/styles/Mixins";


.advertisingBlockContainer {
  width: 100%;
  background-color: white;
  padding: 24.75px 0 40.75px 0;
  cursor: default;

  .advertisingBlock {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .mainTitle {
      padding-top: 42.25px;
      margin-bottom: 32px;
      max-width: 534px;
      @include SFDisplayBold();
      font-size: 42px;
      line-height: 120%;
    }

    .subTitleWrapper {
      display: flex;

      .subTitleOne {
        display: flex;

        &:before {
          content: '';
          display: block;
          width: 2px;
          height: 42px;
          background: #98C6CD;
          margin-right: 8px;
        }
      }

      .subTitleTwo {
        display: flex;

        &:before {
          content: '';
          display: block;
          width: 2px;
          height: 42px;
          background: #98C6CD;
          margin-right: 8px;
        }
      }

      & p {
        max-width: 254px;
        @include SFTextRegular();
        font-size: 16px;
        line-height: 140%;
        color: #202223;
      }

      & span {
        @include SFDisplayBold();
        font-size: 16px;
        line-height: 130%;
        color: #202223;
      }

      margin-bottom: 33px;
    }

    .mainImage {
      min-width: 573px;
      height: 377px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .advertisingBlockContainer {
    border-radius: 8px;

    .advertisingBlock {
      overflow: hidden;
      position: relative;

      .mainWrapper {
        .mainTitle {
          width: 267px;
          font-size: 21px;
          line-height: 28px;
          margin-bottom: 16px;
          color: #202223;
          padding-top: 0;
        }

        .subTitleWrapper {
          flex-direction: column;
          max-width: 183px;
          padding: 0;
          margin-bottom: 17px;

          .subTitleOne {
            margin-bottom: 16px;
            width: 100%;
            &:before {
              width: 2px;
              margin-right: 4px;
            }
          }
          .subTitleTwo {
            margin-bottom: 16px;
            &:before {
              width: 2px;
              margin-right: 4px;
            }
          }
          & p {
            width: 100%;
            word-wrap: break-word;
            font-size: 15px;
            line-height: 140%;
          }

          & span {
            width: 100%;
            font-size: 15px;
            line-height: 140%;
          }
        }
        & button {
          width: 137px;
        }
      }

      .mainImage{
        position: absolute;
        top: 112px;
        left: 174px;
        min-width: 363px;
        height: 200px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}