@import "src/styles/Mixins";
@import "src/styles/Variables";

.advertisingBlockContainer {
  width: 100%;
  background-color: white;
  padding: 24.75px 0 40.75px 0;
  cursor: default;


  .advertisingBlock {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}

.mainTitle {
  padding-top: 42.25px;
  margin-bottom: 32px;
  max-width: 534px;
  @include SFDisplayBold();
  font-size: 42px;
  line-height: 120%;
}

.subTitleWrapper {
  display: flex;

  & p {
    max-width: 254px;
    @include SFTextRegular();
    font-size: 16px;
    line-height: 140%;
    color: $textColor;
  }

  & span {
    @include SFDisplayBold();
    font-size: 16px;
    line-height: 130%;
    color: $textColor;
  }

  margin-bottom: 33px;
}

.subTitleOne {
  display: flex;
  position: relative;

  & div {
    max-width: 222px;
  }
}

.subTitleOne:before {
  content: '';
  display: block;
  align-items: flex-start;
  top: 0;
  width: 2px;
  height: 100%;
  background: #98C6CD;
  margin-right: 8px;
}

.subTitleTwo {
  display: flex;
  position: relative;

  & div {
    max-width: 254px;
  }
}

.subTitleTwo:before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background: #98C6CD;
  margin-right: 8px;
}

.mainImage {
  min-width: 573px;
  height: 377px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1199px) {
  .subTitleOne{
    margin-right: 5px;
  }
  .subTitleOne:before {
    width: 4.45px;
  }
  .subTitleTwo:before {
    width: 4.45px;
  }
}

@media (max-width: 992px) {
  .mainTitle {
    width: 267px;
    font-size: 21px;
    line-height: 28px;
    color: $textColor;
    padding-top: 0 !important;
  }
  .subTitleWrapper {
    flex-direction: column;
    font-size: 15px;
    line-height: 140%;
  }
  .subTitleOne {
    display: flex;
    position: relative;
    margin-bottom: 16px;
    margin-right: 0;
    & div{
      margin-left: 6px;
    }
  }
  .subTitleOne:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background: #98C6CD;
    margin-right: 0;
  }
  .subTitleTwo {
    display: flex;
    position: relative;

    & div {
      margin-left: 6px;
    }
  }
  .subTitleTwo:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background: #98C6CD;
    margin-right: 0;
  }
  .advertisingBlock {
    overflow: hidden;
  }
  .subTitleWrapper {
    & p {
    }

    font-size: 15px;
    max-width: 183px;
  }
}

@media (max-width: 768px) {
  .advertisingBlock {
    position: relative;
  }
  .mainWrapper {
    & button {
      width: 137px;
    }
  }
  .mainImage {
    position: absolute;
    top: 30px;
    left: 200px;
    min-width: 420px;
    height: 300px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}