@import "src/styles/Mixins";

.articlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f7;

  .navigationBlock {
    width: 80%;
  }
.articleTitle{
  @include SFDisplayBold();
  margin-top: 24px;
  font-size: 42px;
  line-height: 120%;
  color: #202223;
  margin-bottom: 24px;
}
  .articleInfo {
    display: flex;
    flex-direction: row;

    & div {
      display: flex;
      flex-direction: row;
    }
  }
  .articleReadingWrapper{
    margin-bottom: 32px;
  }
  .timeToReading{
    margin-right: 17.6px;
  }
  .articleImage {
    width: 100%;
    height: 306px;
    margin-bottom: 32px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.articleText{
  margin-bottom: 76px;
}