@import "src/styles/Mixins";

.footerBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .instaBlock {
    display: flex;
    flex-direction: row;
    .instagramIcon {
      @include size(18px, 18px);
      background: url("../../../Images/instagramIcon.svg") no-repeat center;
    }
  }
}