@import "src/styles/Mixins";
@import "src/styles/Variables";

.productItemFroSearch {
  display: flex;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 8px;
  cursor: pointer;

  & img {
    @include size(40px, 40px);
    object-fit: contain;
    border: 1px solid #BABFC3;
    border-radius: 3px;
  }

  & p {
    @include SFTextRegular();
    font-size: 15px;
    line-height: 20px;
    color: $textColor;
  }

  &:hover {
    background-color: #F1F2F3;
  }
}