@import "src/styles/Mixins";

.basketLink {
  @include size(60px, 36px);
  min-width: 60px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include SFTextMedium();
  font-size: 15px;
  line-height: 20px;
  color: #202223;

  & img {
  @include size(18px, 20px);
    margin-right: 5px;
  }
}