@import "src/styles/Mixins";
@import "src/styles/Variables";

.spanContainer {
  position: relative;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 6px;
}

.svg {
  position: absolute;
  top: -13px;
  right: -5px;
  z-index: 2;
}

.oneUnitBlock {
  padding: 2px 8px;
  background: #E4E5E7;
  border-radius: 2px;
  @include SFTextMedium();
  @include fontSize14();
  cursor: pointer;


  &:hover {
    color: #FFFFFF;
    background: #449DA7;
  }
}

.active {
  padding: 2px 8px;
  border-radius: 2px;
  @include SFTextMedium();
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  /*margin-right: 4px;
  margin-bottom: 6px;*/
  color: #FFFFFF;
  background: #449DA7;
}