@font-face {
  font-family: "SF Text Regular";
  src: url("fonts/SF-UI-Text-Regular.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "SF Text Medium";
  src: url("fonts/SF-UI-Text-Medium.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "SF Display Semibold";
  src: url("fonts/SF-UI-Display-Semibold.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "SF Display Bold";
  src: url("fonts/SF-UI-Display-Bold.woff") format('woff');
  font-display: swap;
}

