@import "fonts";
@import "src/styles/Variables";

@mixin flex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin SFTextRegular() {
  font-family: "SF Text Regular";
}

@mixin SFTextMedium() {
  font-family: "SF Text Medium";
}

@mixin SFDisplaySemibold() {
  font-family: "SF Display Semibold";
}

@mixin SFDisplayBold() {
  font-family: "SF Display Bold";
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin fontSize14() {
  font-size: 14px;
  line-height: 20px;
  color: $textColor;
}
@mixin fontSize16() {
  font-size: 16px;
  line-height: 24px;
  color: $textColor;
}
