@import "src/styles/Mixins";

.onClickOrderContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .discount {
    position: absolute;
    top: 4px;
    left: 10px;
    @include SFTextRegular();
    padding: 0 6px;
    text-align: center;
    background: #FD5749;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
  }

  & h3 {
    @include SFDisplayBold();
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 16px;
  }

  .nextSection {
    width: 100%;
    margin: 0 auto 16px;
    height: 1px;
    position: relative;

    & span {
      display: block;
      height: 1px;
      position: relative;

      &::after {
        width: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #8C9196;
      }
    }
  }

  & .setDataParagraph {
    @include SFTextRegular();
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #6D7175;
    margin-bottom: 16px;
  }

  .formBlock {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .personalData {
    @include SFTextRegular();
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #6D7175;
    margin-top: 17px;

    & span {
      color: #2C6ECB;
      cursor: pointer;
    }
  }
}

