@import "src/styles/Mixins";

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  @include flex(row, center, center);
  margin-left: 16px;
}
.disabledButton{
  opacity: 0.3;
}