@import "src/styles/Mixins";

.window {
  width: 100%;
  overflow: hidden;

  .animalTypesBlock {
    gap: 24px;
    @include flex(row, space-between, stretch);
    width: 100%;
    transition: translate;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }
}