@import "src/styles/Mixins";
@import "src/styles/Variables";

.basketPageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f7;
  padding-bottom: 65px;

  .basketWrapper {
    margin-top: 24px;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;

    & h1 {
      margin-bottom: 24px;
      cursor: default;
    }

    .basketInfoBlockContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;

      .productsItemsBlockContainer {
        background-color: white;
        max-width: 770px;
        border-radius: 5px;
        padding: 24px 16px;
      }

      .basketInfoContainer {
        padding: 16px 24px;
        background-color: $successColor;
        color: white;
        width: 371px;
        border-radius: 8px;
        cursor: default;

        .basketInfo {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          .priceBlock {
            display: flex;
            flex-direction: row;
            align-items: center;

            .basketBUN {
              @include SFDisplayBold();
              font-size: 28px;
              line-height: 32px;
              color: #FFFFFF;
            }

            .basketBUNWIthDiscount {
              @include SFDisplayBold();
              font-size: 20px;
              line-height: 32px;
              color: rgba(255, 255, 255, 0.8);
              text-decoration: line-through;
              text-decoration-color: #D72C0D;
              margin-right: 8px;
            }
          }

          & .basketProducts {
            @include SFTextMedium();
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
          }
        }


        .pickUpBlock {
          display: flex;
          flex-direction: row;
          margin-bottom: 25px;

          & .basketBoxImage {
            width: 34.23px;
            height: 40px;
            object-fit: contain;
            margin-right: 14.88px;
          }

          .basketTextWrapper {
            & h3 {
              @include SFDisplaySemibold();
              margin-bottom: 6px;
              font-size: 20px;
              line-height: 130%;
              color: #FFFFFF;
            }

            .addressInfo {
              display: flex;
              flex-direction: row;

              & img {
                margin-right: 9.6px;
              }

              & p {
                @include SFTextRegular();
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
              }
            }
          }
        }

        .basketButton {
          width: 100%;
          background: #FFFFFF;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          height: 44px;
          border: none;
          text-align: center;
          @include fontSize14();
          @include SFTextMedium();
          cursor: pointer;
        }
      }
    }
  }

  .basketTitle {
    @include SFDisplaySemibold();
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    color: $textColor;
  }

  .emptyBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 0 65px;

    & img {
      margin-bottom: 40px;
    }

    & h2 {
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 130%;
      text-align: center;
      margin-bottom: 33px;
      cursor: default;
    }
  }
}

@media (max-width: 1199px) {
  .basketWrapper {
    max-width: 960px !important;
  }
}

@media (max-width: 992px) {
  .basketWrapper {
    max-width: 720px !important;
  }
  .basketInfoBlockContainer {
    flex-direction: column !important;
    gap: 24px !important;
  }
  .basketInfoContainer {
    width: 100% !important;
  }
  .basketInfoContainer {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .basketWrapper {
    max-width: 540px !important;
  }
  .basketTitle {

  }
  .emptyBasket {
    margin-bottom: 0 !important;
    margin-top: 48px !important;
  }
  .basketPageBlock {
    padding-bottom: 73px;
  }
  .pickUpBlock {
    margin-bottom: 17px !important;
  }
  .productsItemsBlockContainer {
    width: 100% !important;

  }
}