@import "src/styles/Mixins";

.basketPageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6f6f7;
  padding-bottom: 65px;


  .basketInfoBlockContainer {
    display: flex;
    flex-direction: row;
    width: 80%;

    .productsItemsBlockContainer {
      background-color: white;
      padding: 24px 16px;
    }

    .basketInfoContainer {
      padding: 16px 24px;
      background-color: #008060;
      color: white;

      .basketInfo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      .pickUpBlock {
        display: flex;
        flex-direction: row;

        .addressInfo {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  .emptyBasket{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 56px 0 65px;
    & img{
      margin-bottom: 40px;
    }
    & h2{
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 130%;
      text-align: center;
      margin-bottom: 33px;
    }
  }
}