@import "src/styles/Mixins";


.articlesContainer {
  margin: 4px 0 1px;
  width: 100%;
  display: flex;
  align-items: center;

  .window {
    width: 100%;
    overflow: hidden;

    & .allArticlesItemsContainer {
      @include flex(row, space-between, stretch);
      width: 100%;
      gap: 2%;
      margin: 0 1%;
      transition: translate;
      transition-property: transform;
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
      @media (max-width: 1199px) {
        gap: 10%;
        margin: 0 5%
      }
      @media (max-width: 768px) {
        gap: 3%;
        margin: 0 0;
      }
    }
  }
}




