@import "src/styles/Mixins";


.articlesContainer {
  margin: 4px 0 1px;
  width: 100%;
  display: flex;
  align-items: center;

  .window {
    width: 100%;
    overflow: hidden;

      & .allArticlesItemsContainer {
      @include flex(row, space-between, stretch);
      width: 100%;
      gap: 3%;
      //margin-left: 5px;
      transition: translate;
      transition-property: transform;
      transition-duration: 1500ms;
      transition-timing-function: ease-in-out;
    }
  }
}
@media (max-width: 1199px) {
  .allArticlesItemsContainer{
    gap: 13% !important;
  }
}
@media (max-width: 992px) {
  .allArticlesItemsContainer{
    gap: 4% !important;
  }
}
