@import "src/styles/Mixins";


.productForBasketContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;

  .productWrap {
    display: flex;
  }

  .imageWrapper {
    @include size(56px, 56px);

    & img {
      @include size(100%, 100%);
      object-fit: cover;
    }
  }

  .productMainInfo {
    margin: 0 16px;

    .basketTitle {
      @include SFDisplaySemibold();
      font-size: 16px;
      line-height: 130%;
      color: #202223;
      margin-bottom: 8px;
      cursor: pointer;

      &:hover {
        color: #00A0AC;
      }
    }

    .heftWrapper {
      display: flex;
      flex-wrap: wrap;
    }

    & p {
      @include SFTextRegular();
      font-size: 14px;
      line-height: 20px;
      color: #2C6ECB;
      cursor: pointer;
    }
  }

  .quantityManagementBlockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .quantityManagementBlockPositionContainer {
      @include flex(column, space-between, flex-end);


      .quantityManagementBlockContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;


        .quantityManagementBlock {
          display: flex;
          flex-direction: row;
          align-items: center;

          & .minus {
            @include size(36px, 36px);
            padding: 8px 8px 8px 7px;
            border-radius: 4px;
            background: #FFFFFF;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
            display: flex;
            border: 1px solid #BABFC3;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 6px;

            & div {
              background: url("../../../Images/minusIcon.svg") no-repeat;
              @include size(20px, 20px);
            }
          }

          & .countMeaning {
            @include size(36px, 36px);
            padding: 8px 8px 8px 7px;
            border-radius: 4px;
            background: #FFFFFF;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
            display: flex;
            border: 1px solid #BABFC3;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-right: 6px;
            @include SFTextRegular();
            font-size: 15px;
            line-height: 20px;
            color: #202223;
          }

          & .plus {
            @include size(36px, 36px);
            padding: 8px 8px 8px 7px;
            border-radius: 4px;
            background: #FFFFFF;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
            display: flex;
            border: 1px solid #BABFC3;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            & div {
              background: url("../../../Images/plusIcon.svg") no-repeat;
              @include size(20px, 20px);
            }
          }
        }

        .basketImage {
          margin-left: 37.75px;
          cursor: pointer;
        }
      }

      .discount{
        @include SFTextRegular();
        padding: 0 6px;
        background: #FD5749;
        border-radius: 2px;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }

    .priceBlock {
      display: flex;
      flex-direction: row;

      .price {
        @include SFDisplayBold();
        font-size: 16px;
        line-height: 130%;
        color: #202223;
      }

      .priceWithDiscount {
        @include SFDisplayBold();
        font-size: 16px;
        line-height: 130%;
        color: #8C9196;
        text-decoration: line-through;
        text-decoration-color: #D72C0D;
        margin-right: 6px;
      }
    }

  }

  &:last-child {
    margin-bottom: 0;
  }
}

.widthForBasketMainProductInfo {
  max-width: 471px;
}

.widthForModalMainProductInfo {
  max-width: 355px;
}

@media (max-width: 768px) {
  .productForBasketContainer {
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    & .productMainInfo {
      margin: 0;
    }
  }
  .productWrap {
    flex-direction: column;
    gap: 16px;
  }
}

