@import "src/styles/Mixins";

.container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container{
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 720px;
  }
}

.block {
  width: 100%;
  //padding: 24px 0;
  //margin-top: 60px;
  //margin-bottom: 57px;

  .navigationInfoBlock {
    @include flex(row, space-between, center);
    width: 100%;

    & h2 {
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 32px;
      color: #202223;
    }

    .sectionsBlock {
      display: flex;
      flex-direction: row;
    }
  }

  .itemsContainer {
    margin: 28px 0 1px;
    width: 100%;
    display: flex;
    align-items: center;

    .window {
      width: 100%;
      overflow: hidden;

      & .allProductItemsContainer {
        @include flex(row, space-between, stretch);
        width: 100%;
        gap: 3%;
        margin: 8px 0;
        transition: translate;
        transition-property: transform;
        transition-duration: 1500ms;
        transition-timing-function: ease-in-out;
      }
    }
  }

  & button {
    cursor: pointer;
    //margin-bottom: 57px;
  }
}
@media (max-width: 1199px) {
  .allProductItemsContainer{
    gap: 6% !important;
  }
}
@media (max-width: 992px) {
  .allProductItemsContainer{
    gap: 17% !important;
  }
}
@media (max-width: 768px) {
  .allProductItemsContainer{
    gap: 5% !important;
  }
  .sectionsBlock{
    display: none !important;
  }
  .navigationInfoBlock{
    & h2{
      font-size: 21px !important;
      line-height: 28px !important;
    }
  }
}

