@import "src/styles/Mixins";

.container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  width: 100%;
  //padding: 24px 0;
  //margin-top: 60px;
  //margin-bottom: 57px;

  .navigationInfoBlock {
    @include flex(row, space-between, center);
    width: 100%;

    & h2 {
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 32px;
      color: #202223;
    }

    .sectionsBlock {
      display: flex;
      flex-direction: row;
    }
  }

  .productsList {
    @include flex(row, space-between, stretch);
    margin-top: 28px;
    margin-bottom: 25px;
    gap: 20px;
    width: 100%;
    overflow: hidden;
  }

  & button {
    cursor: pointer;
    //margin-bottom: 57px;
  }
}

