.block {
  background-color: #f6f6f7;

  .sectionsBlock {
    & div:last-child{
      background-size: 7px 12px;
      background: white url("../../Images/nextIcon.svg") no-repeat 50% 50%;
    }
    & div:last-child:hover{
      background-size: 7px 12px;
      background: #00A0AC url("../../Images/whiteNextArrow.svg") no-repeat 50% 50%;

    }
    & div:first-child{
      background-size: 7px 12px;
      background: white url("../../Images/prevIcon.svg") no-repeat 50% 50%;

      &:hover{
        transform: rotate(-180deg);
        background: #00A0AC url("../../Images/whiteNextArrow.svg") no-repeat 50% 50%;

      }
    }
    & div:hover{
      background: #00A0AC;
      border-radius: 40px;
    }
  }
}

.productItem{
  background-color: white;
}