.block {
  background-color: #f6f6f7;

  .sectionsBlock {
    & div {
      background-color: white;
    }
    & div:hover{
      background: #00A0AC;
      border-radius: 40px;

    }
  }
}

.productItem{
  background-color: white;
}