.block {
  background-color: white;
  padding-top: 28px;
  padding-bottom: 25px;

  .sectionsBlock {
    & div:last-child{
      background-size: 7px 12px;
      background: #F6F6F7 url("../../Images/nextIcon.svg") no-repeat 50% 50%;
    }
    & div:last-child:hover{
      background-size: 7px 12px;
      background: #00A0AC url("../../Images/whiteNextArrow.svg") no-repeat 50% 50%;

    }
    & div:first-child{
      background-size: 7px 12px;
      background: #F6F6F7 url("../../Images/prevIcon.svg") no-repeat 50% 50%;

      &:hover{
        transform: rotate(-180deg);
        background: #00A0AC url("../../Images/whiteNextArrow.svg") no-repeat 50% 50%;
        background-size: 7px 12px;
      }
    }
    & div:hover{
      background: #00A0AC;
      border-radius: 40px;
    }
  }
}

.productItem{
  background-color: #FAFBFB;
}