@import "src/styles/Mixins";

.smallButton {
  cursor: pointer;
  padding: 8px 16px;
  gap: 10px;
  background: #00A0AC;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: white;
  border: none;
  outline: none;
  @include SFTextRegular();
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  @media (max-width: 768px) {
    padding: 8px 16px;
  }

  &:hover {
    background: #347C84;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0px -1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}