@import "src/styles/Mixins";

.brand{
  @include flex(column, center, center);
  padding: 14px 20px;
  width: 174px;
  height: 115.55px;
  background: #FFFFFF;
  border-radius: 4px;
  //margin: 12px 0;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06), 0 12px 32px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 768px) {
  .brand{
    width: 80px;
    height: 57.81px;
  }
}