@import "src/styles/Mixins.scss";

.addressBlock {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigateIcon {
        width: 12.8px;
        height: 16px;
        margin-right: 9.6px;
    }
    .metroIcon {
        margin-left: 10px;
        margin-right: 6px;
        width: 18px;
        height: 12px;
    }

    & p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */


        /* Text/Default */

        color: #202223
    }
}





