@import "src/styles/Mixins.scss";
@import "src/styles/Variables.scss";

.addressBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;

  .addressBlockWrapperOne {
    display: flex;
    align-items: center;
  }

  .addressBlockWrapperTwo {
    display: flex;
    align-items: center;
  }

  .navigateIcon {
    width: 12.8px;
    height: 16px;
    margin-right: 9.6px;
  }

  .metroIcon {
    margin-left: 10px;
    margin-right: 6px;
    width: 18px;
    height: 12px;
  }

  & p {
    @include fontSize14();
  }
}
.forBurger {
  & .addressBlockWrapperOne {

  }
}
.addressBlockForProductPage{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;

  .addressBlockWrapperOne {
    display: flex;
    align-items: center;
  }

  .addressBlockWrapperTwo {
    display: flex;
    align-items: center;
  }

  .navigateIcon {
    width: 12.8px;
    height: 16px;
    margin-right: 9.6px;
  }

  .metroIcon {
    margin-left: 10px;
    margin-right: 6px;
    width: 18px;
    height: 12px;
  }

  & p {
    @include fontSize14();
  }
}

@media (max-width: 1199px) {
  .addressBlock {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .addressBlock {
    flex-direction: row;
    margin-bottom: 16px;

    & .addressBlockWrapperOne {
      margin-right: 12px;
    }
  }

  .addressBlockForProductPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .metroIcon {
      margin-left: 0;
    }
  }
  .forBurger {
    & .addressBlockWrapperOne {
      margin-right: 0;
    }
  }
}




