@import "src/styles/Mixins";

.greetingBlock{
  width: 100%;
  background-color: white;
  margin-top: 57px;

  .greetingBlockContainer{
    @include flex(row, space-between, center);
  }
}
.greetingBlockTitle{
  @include SFDisplaySemibold();
  max-width: 597px;
  font-size: 28px;
  line-height: 32px;
  color: #202223;
  margin-bottom: 12px;
}
.greetingBlockText{
  @include SFTextRegular();
  max-width: 597px;
  font-size: 16px;
  line-height: 125%;
  color: #202223;
}

.greetingBlockWrapperTitle{
  @include SFDisplayBold();
  font-size: 16px;
  line-height: 125%;
  color: #202223;
  margin-bottom: 8px;
}
.greetingBlockTextWrapper{
  margin-bottom: 24px;
}
.greetingBlockWrapper{
  display: flex;
  margin-bottom: 24px;
  min-height: 30px;
  position: relative;

  &:before{
    content: "";
    display: block;
    width: 2px;
    top: 0;
    position: absolute;
    height: 100%;
    background: #98C6CD;
    border-radius: 2px;
    margin-right: 12px;
  }

  .greetingOptionWrapper{
    margin-left: 12px;
  }
}

@media (max-width: 1199px) {
  .greetingBlockImageWrapper{
    display: none;
  }
  .greetingBlockWrapperText{
    padding: 62.5px 0;
  }
}
@media (max-width: 768px) {
  .greetingBlockTitle{
    font-size: 21px !important;
    line-height: 28px !important;
  }
  .greetingBlockWrapper{
    margin-bottom: 16px !important;
  }
  .greetingBlock{
    margin-top: 33px;
  }
  .greetingBlockText{
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .greetingBlockWrapperTitle{
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .greetingBlockWrapperText{
    padding-top: 16px !important;
    padding-bottom: 0 !important;
  }
}
