@import "../../styles/Mixins";
@import "../../styles/Variables";


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .contactInfo {
    @include flex(row, space-between, center);
    padding: 12px 20px;

    .instaPhoneNumber {
      display: flex;
      align-items: center;
      //& p {
      //  margin-right: 12px;
      //}
    }
  }
  .phoneWrapper{
    display: flex;
  }

  .navBarContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: $mainColor;

    .navBar {
      @include flex(row, space-between, center);
      margin:0 auto;
      gap: 41px;
      padding: 0 20px;
    }
  }
}
.headerInstagram{
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 68.33px;
  & img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1199px) {
  .instaPhoneNumber{
    flex-direction: column;
  }
  .headerInstagram{
    margin-right: 0;
  }
}
@media (max-width: 992px) {

  .navBarContainer{
    & .navBar{
      gap: 25px!important;
    }
  }
}
@media (max-width: 768px) {
  .contactInfo{
    display: none !important;
  }
  .navBar{}
}