@import "../../styles/Mixins";
@import "../../styles/Variables";


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .contactInfo {
    @include flex(row, space-between, center);
    padding: 12px 8px;

    @media (max-width: 768px) {
      display: none !important;
    }

    .instaPhoneNumber {
      display: flex;
      align-items: center;

      @media (max-width: 1199px) {
        flex-direction: column;
      }

      .phoneWrapper {
        display: flex;
        gap: 12px;
        .headerInstagram {
          display: block;
          width: 18px;
          height: 18px;
          margin-right: 68.33px;

          @media (max-width: 1199px) {
            margin-right: 0;
          }

          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .navBarContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: $mainColor;
    position: relative;

    @media (max-width: 768px) {
      background-color: white;
      height: 40px;
    }

    .navBar {
      width: 100%;
      padding: 0 8px;
      @include flex(row, space-between, center);
      margin: 0 auto;
      gap: 41px;

      @media (max-width: 992px) {
        gap: 25px !important;
      }

      .navElements{
        gap: 41px;
        @include flex(row, space-between, center);
        .searchIcon {
          background: url("../../Images/searchIcon.svg") no-repeat center;
          @include size(16px, 16px);
        }
      }


      .burgerButton {
        background-image: url("../../Images/hamburger.svg");
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;

        @media (min-width: 769px) {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .navElements{
    gap: 24px !important;
  }
}
