@import "src/styles/Mixins";

.navBar{
  width: 302px;
  display: flex;
  justify-content: space-between;
  & a:first-child{
    font-family: 'SF Pro Text';
    font-style: normal;
    @include SFTextMedium();
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #80CFD5;
  }
  & a {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    @include SFTextMedium();
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
  & a:hover{
    text-decoration-line: underline;
  }
}