@import "../../styles/Mixins";
@import "../../styles/Variables";

.productTypesBlock {
  background-color: white;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 5px;

  .radioGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & h2 {
    @include SFDisplaySemibold();
    @include fontSize16();
    margin-bottom: 18px;
    cursor: default;
  }

  .categoryContainer {
    width: 100%;
    @include SFTextRegular();
    display: flex;
    flex-direction: column;
    @include fontSize14();
    margin-bottom: 16px;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      & input {
        display: none;
      }

      & > span {
        @include size(18px, 18px);
        border: 2px solid #8C9196;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        background: #FFFFFF;
        margin-right: 8px;
        cursor: pointer;
      }

      [type=radio]:checked + span:before {
        @include size(20px, 20px);
        content: url("../../Images/radio.svg");
        position: absolute;
        top: -3px;
        left: -3px;
      }
    }

    .subcategoryContainer {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 11px 0 18px 15px;
    }
  }
}

.forBurger {
  padding: 0;
  margin-bottom: 0;

  & h2 {
    margin-bottom: 10px;
  }
}
