@import "../../styles/Mixins";


.productTypesBlock{
  background-color: white;
  padding: 16px;
  margin-bottom: 24px;
  .radioGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
