@import "src/styles/Mixins";

.discountBlockWrapper{
  margin: 0 auto;
}

.discountBlock{
  @include flex(row, space-between, center);
  margin: 57px 0;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .discountBlockWrapper{
    width: 100%;
  }
  .discountBlock{
    margin: 33px 0;
  }
}