@import "src/styles/Mixins";

.discountBlockWrapper {
  margin: 0 auto;
  position: relative;
}

.discountBlock {
  @include flex(row, space-between, center);
  margin: 56px 0 1px;
  flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .discountBlock {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .discountBlockWrapper {
    width: 100%;
  }
  .discountBlock {
    margin: 0 0;
  }
}