@import "src/styles/Mixins";

.navBar {
  gap: 48px;
  display: flex;
  justify-content: space-between;

  & a {
    @include SFTextMedium();
    font-size: 14px;
    line-height: 20px;
    color: #202223;

    &:hover {
      text-decoration-line: underline;
    }
  }
}

@media (max-width: 768px) {
  .navBar {
    gap: 32px;
  }
}
