@import "src/styles/Mixins";

.navBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;

  .editModeBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    margin-bottom: 20px;

    .burgerButton {
      width: 20px;
      height: 20px;
      background-image: url("../../../Images/shape.svg");
      background-size: cover;
      background-position: center;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .navBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70vh;
  }

  .sortingBlock {
    display: flex;
    flex-direction: column;

    .productsType{
      width: 270px;
      & > label {
        width: 100%;
        @include SFTextMedium();
        @include flex(row, space-between, center);
        @include fontSize14();
        color: #1A1C1D;

        & div {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;

          & input {
            display: none;
          }

          & span {
            @include size(18px, 18px);
            border: 2px solid #8C9196;
            border-radius: 4px;
            display: inline-block;
            position: relative;
            background: #FFFFFF;
            margin-right: 9px;
            cursor: pointer;
          }

          [type=checkbox]:checked + div span:before {
            @include size(20px, 20px);
            content: url("../../../Images/check.svg");
            position: absolute;
            top: -3px;
            left: -3px;
          }
        }
      }
    }
  }
}

.nextSection{
  height: 1px;
  width: 100%;
  background: #8C9196;
  margin: 12px auto;
}