
.formBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .formInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .orderBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

