@import "src/styles/Mixins";

.discount {
  @include flex(row, space-between, center);
  @include size(569px, 153px);
  background: #FFD79D;
  border-radius: 5px;
  padding: 24px;

  .titlePart {
    //@include flex(column, space-between, flex-start);

    & p{
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      @include SFDisplayBold();
      line-height: 130%;
      color: #202223;
      margin-bottom: 17px;
    }
    & button {
      cursor: pointer;
      width: 214px;
      height: 36px;
      background: #FFFFFF;
      border: 1px solid #8C9196;
      border-radius: 4px;
    }
  }

  & img {
    @include size(149px, 149px);
    object-fit: contain;
  }

}