@import "src/styles/Mixins.scss";

.phoneBlock{
  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    @include size(11.2px, 16px)
  }

  & p{
    margin-left: 10.4px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #202223;
  }
}