@import "src/styles/Mixins";
@import "src/styles/Variables";

.articlesPageBlock{
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: #f6f6f7;
  .navigationBlock{
    width: 80%;
  }
  .articlesTitle{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    cursor: default;
  }
  .articlesBlockContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    .articlesBlock{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      box-sizing: border-box;
      flex-wrap: wrap;
      gap: 16px;

    }
    & button{
      margin: 0 auto;
      width: 148px;
      height: 46px;
      background: white;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid deepskyblue;
      font-size: 14px;
      line-height: 20px;
      color: $textColor;
      @include SFTextMedium();
      &:hover{
        background: $mainColor;
        color: #FFFFFF;
        border: none;
      }
    }
  }
}
@media (max-width: 1199px) {
  .articlesBlockContainer{
    max-width: 960px !important;
  }
  .articlesTitle{
    max-width: 960px!important;
  }
}
@media (max-width: 992px) {
  .articlesBlockContainer{
    max-width: 720px !important;
  }
  .articlesTitle{
    max-width: 720px !important;
  }
}
@media (max-width: 768px) {
  .articlesTitle{
    max-width: 540px !important;
  }
  .articlesBlockContainer{
    max-width: 540px !important;
  }
  .articlesBlock{
    justify-content: center !important;
  }
}