@import "src/styles/Mixins";

.articlesPageBlock{
  display: flex;
  flex-direction: column;

  //width: 100%;
  //width: 80%;
  margin: 0 auto;

  background-color: #f6f6f7;
  .navigationBlock{
    width: 80%;
    //max-width: 1200px;
    //margin: 0 auto;
  }
  .articlesTitle{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .articlesBlockContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    .articlesBlock{
      @include flex(row, space-between, center);
      box-sizing: border-box;
      flex-wrap: wrap;
      gap: 16px;
      margin-bottom: 24px;

    }
    & button{
      margin: 0 auto;
      width: 148px;
      height: 46px;
      background: white;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid deepskyblue;
      font-size: 14px;
      line-height: 20px;
      color: #202223;
      @include SFTextMedium();
      &:hover{
        background: #00A0AC;
        color: #FFFFFF;
        border: none;
      }
    }
  }
}