@import 'src/styles/Mixins';

.reviewsBlock {
  width: 100%;
  background-color: white;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 16px 0;
  border-radius: 5px;


  .reviewsBlockTitle {
    @include SFDisplaySemibold();
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    padding-top: 24px;
    margin-bottom: 24px;
    color: #202223;
  }

  & .reviewsContainer {
    width: 100%;

    .window {
      width: 100%;
      overflow: hidden;

      & .allReviewsItemsContainer {
        @include flex(row, space-between, stretch);
        width: 100%;
        transition: translate;
        transition-property: transform;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;

        & .reviewContainer {
          min-width: 100%;
          max-width: 100%;
          padding: 0 10px;

          .reviewsBlockSubTitle {
            @include SFDisplaySemibold();
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 12px;
            color: #202223;
          }
          .reviewsBlockText {
            @include SFTextRegular();
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            max-width: 718px;
            margin: 0 auto 12px;
            color: #202223
          }
          .reviewsBlockWrapper {
            display: flex;
            justify-content: center;
            .reviewsBlockPhoneWrapper {
              display: flex;
              margin-right: 16px;

              & p {
                @include SFTextRegular();
                font-size: 16px;
                line-height: 24px;
                color: #6D7175
              }

              & img {
                margin-right: 6.55px;
              }
            }
            & p {
              @include SFTextRegular();
              font-size: 16px;
              line-height: 24px;
              color: #6D7175
            }
          }
        }
      }
    }
  }
  .buttonsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
      margin: 0 32px 0 48px;
      @include SFTextRegular();
      font-size: 16px;
      line-height: 24px;
      color: #916A00;
    }
  }
}
@media (max-width: 768px) {
  .reviewsBlock{
    margin-bottom: 32px !important;
  }
  .reviewsBlockTitle{
    font-size: 21px !important;
    line-height: 28px !important;
    padding-top: 16px !important;
    margin-bottom: 12px !important;
  }
  .reviewsBlockSubTitle{
    font-size: 15px !important;
    line-height: 20px !important;
  }
  .reviewsBlockText{
    font-size: 13px !important;
    line-height: 20px !important;
  }
  .reviewsBlockWrapper{
    flex-direction: column;
    align-items: center;
    & p {
      font-size: 15px !important;
      line-height: 20px !important;
    }
  }
  .reviewsBlockPhoneWrapper{
    margin-right: 0 !important;
    margin-bottom: 8px;

  }
}
