@import "src/styles/Mixins";

.productItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 270px;
  border-radius: 5px;
  padding: 8px;
   &:hover{
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.06), 0 12px 32px rgba(0, 0, 0, 0.1);
   }
}
.mainProductItemImage {
  cursor: pointer;
  width: 254px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 16px;
}
.priceBlockWrapper{
  & button{
    width: 100%;
    height: 36px;
    border: 1px solid #00A0AC;
    border-radius: 6px;
    background: #FFFFFF;
    @include SFTextMedium();
    font-size: 14px;
    line-height: 20px;
    color: #202223;
    &:hover{
      background: #00A0AC;
      color: #FFFFFF;
      border: none;
    }
  }
}

.priceBlock {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.productItemWrapper{

}
.price {
  margin-right: 17px;

  @include SFDisplayBold();
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #202223;
}

.basket {
  width: 54px;
  height: 30px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #BABFC3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & p {
    margin-right: 5px;

  }
  .imageWrapper {
    margin-top: 5px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.title {
  @include SFDisplaySemibold();
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  cursor: pointer;
  //margin-bottom: 16px;
  &:hover{
    color: #00A0AC;
  }
}

.unitGroup {
  width: 100%;
  //margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  margin-top: 16px;
}

.productItemForCatalog{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 270px;
  border-radius: 5px;
  padding: 8px;
  &:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06), 0 12px 32px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 576px) {
  .productItemForCatalog{
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .productItem{
    max-width: 243px;
    width: 100%;
  }
  .mainProductItemImage{
    width: 227px !important;
    margin: 0 auto;
  }
}
