@import "src/styles/Mixins";
@import "src/styles/Variables";

.contactBlockContainer {
  width: 100%;

  .contactBlock {
    display: flex;

    .contactBlockMapWrapper {
      margin-right: 86px;
      width: 670px;
      height: 514px;
      padding: 56px 0;

      & .map {
        width: 100%;
        height: 100%;
      }
    }

    .contactBlockWrapper {
      padding-top: 70px;

      & h3 {
        @include SFDisplaySemibold();
        max-width: 313px;
        font-size: 20px;
        line-height: 130%;
        color: $textColor;
        margin-bottom: 24px;
      }
    }

    .contactBlockWrapperDirection {
      display: flex;
      margin-bottom: 24px;
      gap: 12px;

      .contactBlockAddressWrapper {
        display: flex;
        align-items: center;

        & img {
          @include size(16px, 16px);
          margin-right: 9.6px;
        }

        & p {
          @include fontSize14();
        }

      }

      .contactBlockWrapperMetro {
        display: flex;
        align-items: center;

        & img {
          width: 18px;
          height: 12px;
          object-fit: contain;
          margin-right: 6px;
        }

        & p {
          @include fontSize14();
        }
      }
    }

    .contactBlockWrapperTimeWork {
      margin-bottom: 24px;

      .timeWork {
        @include SFDisplaySemibold();
        @include fontSize16();
        margin-bottom: 8px;
      }

      .scheduleWrapper {
        display: flex;
        align-items: center;

        .scheduleWrapperFirst {
          display: flex;
          flex-direction: row;
          align-items: center;

          & img {
            @include size(16px, 16px);
            margin-right: 7.6px;
          }

          & p {
            @include fontSize14();
          }
        }

        .scheduleWrapperLine {
          width: 1px;
          height: 17px;
          background: #8C9196;
          margin: 0 6px;
        }

        .scheduleWrapperSecond {
          @include fontSize14();
        }
      }
    }

    .contactBlockWrapperTel {
      margin-bottom: 24px;

      & p {
        @include SFDisplaySemibold();
        @include fontSize16();
        margin-bottom: 8px;
      }
    }

    .contactBlockWrapperSocial {
      & p {
        @include SFDisplaySemibold();
        @include fontSize16();
        margin-bottom: 8px;
      }

      .instaIcon {
        & img {
          width: 18px;
          height: 18px;
          object-fit: contain;
          margin-right: 9.6px;
        }
      }
    }

  }
}

@media (max-width: 1199px) {
  .contactBlockContainer {
    padding-top: 32px;

    .contactBlock {
      flex-direction: column;

      .contactBlockMapWrapper {
        padding: 0;
        margin-right: 0;
        width: 100%;

        & .map {
          width: 100%;
          height: 100%;
        }
      }

      .contactBlockWrapper {
        padding: 0;
        margin-top: 16px;

        .contactBlockWrapperSocial {
          padding-bottom: 32px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .contactBlockImageWrapper {
    max-width: 670px;
  }
}

@media (max-width: 768px) {

  .scheduleWrapperFirst {
    display: flex;
  }
}