@import "src/styles/Mixins";

.popularProductsBlock {
  width: 100%;

  .navigationInfoBlock {
    @include flex(row, space-between, center);
    width: 100%;

    & h2 {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 32px;
      color: #202223;
    }

    .sectionsBlock {
      display: flex;
      flex-direction: row;

      & div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        @include flex(row, center, center);

        &:last-child {
          margin-left: 16px;
        }
      }
    }
  }

  .productsList {
    @include flex(row, space-between, center);
    margin: 20px 0;
    width: 100%;
  }
  & button {
    cursor: pointer;
  }
}

