@import "src/styles/Mixins";


.productTypesForm{
  background-color: white;
  padding: 16px;
  .radioGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  & h3 {
    @include SFDisplaySemibold();
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    color: #202223;
  }
  & label {
    @include SFTextRegular();
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #202223;
    & input{
      margin-right: 13px;
    }
  }
}
