@import "src/styles/Mixins";
@import "src/styles/Variables";

.hideScroll {
  overflow: hidden;
  max-height: 600px;
  position: relative;
  max-width: 500px;

  .modalContainer {
    padding: 15px 20px 30px;
    position: relative;
    overflow: auto;
    max-height: inherit;
    width: calc(100% + 20px);

    & h1 {
      margin: 0 auto 32px;
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 32px;
      color: #202223;
      text-align: center;
    }

    & > div {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 472px) {
  .modalContainer {
    max-height: 465px;
    padding: 15px 15px;

    & h1 {
      @include SFDisplaySemibold();
      font-size: 20px;
      line-height: 28px;
      color: #202223;
    }

    & div {
      @include SFTextRegular();
      font-size: 14px;
      line-height: 20px;
      color: #202223;
    }
  }
}