@import "src/styles/Mixins";
@import "src/styles/Variables";

.hideScroll {
  overflow: hidden;
  max-height: 600px;
  position: relative;
  max-width: 500px;

  .modalContainer {
    padding: 15px 20px 30px;
    position: relative;
    overflow: auto;
    max-height: inherit;
    width: calc(100% + 20px);

    & h1 {
      margin: 0 auto 32px;
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      max-width: 460px;
    }

    & > div {
      margin-bottom: 20px;
      max-width: 460px;
    }
  }
}

@media (max-width: 768px) {
  .hideScroll {
    .modalContainer {
      width: calc(100% + 7px);

      & > div {
        max-width: 460px;
      }
    }
  }
}

@media (max-width: 472px) {
  .hideScroll {
    overflow: hidden;
    max-height: 600px;
    position: relative;
    max-width: 320px;

    .modalContainer {
      max-height: 465px;
      max-width: 293px;
      padding: 15px 15px;

      & h1 {
        @include SFDisplaySemibold();
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
      }

      & div {
        font-size: 14px;
        line-height: 20px;
        max-width: 260px;
      }
    }
  }
}