@import "src/styles/Mixins";
@import "src/styles/Variables";

.notFoundPageContainer {
  @include flex(row, flex-start, center);
  position: relative;
  min-height: 80vh;

  .textContainer {
    width: 30%;
    position: absolute;
    top: 75px;
    z-index: 2;

    & h1 {
      @include SFDisplayBold();
      font-size: 146px;
      line-height: 120%;
      color: #BDC1CC;
      margin-bottom: 16px;
    }

    & h2 {
      @include SFDisplaySemibold();
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 16px;
    }

    & p {
      font-size: 16px;
      line-height: 130%;
      color: $opacityColor;
    }

    .lastParagraph {
      margin: 8px 0 33px;
    }

    & button {

    }
  }

  .notFoundImage {
    @include size(935px, 575px);
    position: absolute;
    top: 0;
    right: -24px;
    background: url('../../Images/notFoundImage.jpg') no-repeat center;
  }
}

@media (max-width: 768px) {
  .notFoundPageContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 0;
    top: 0;
    position: inherit;

    .textContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: inherit;
      margin-top: 21px;

      & h1 {
        @include SFDisplayBold();
        text-align: center;
        font-size: 96px;
        line-height: 120%;
        margin-bottom: 8px;
      }

      & h2 {
        @include SFDisplayBold();
        font-size: 26px;
        line-height: 120%;
        margin-bottom: 16px;
      }

      & p {
        font-size: 16px;
        line-height: 130%;
        color: $opacityColor;
        text-align: center;
      }

      .lastParagraph {
        margin: 8px 0 25px;
      }

      & button {
        padding: 12px 24px;
      }
    }
    & div {
      .notFoundImage{
        @include size(393.51px, 242px);
        object-fit: contain;
        position: inherit;
        background: url('../../Images/notFoundCatSmall.png') no-repeat center;
      }
    }
  }
}